*,
::before,
::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;
    -webkit-appearance: none;
}
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.tz_layout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position:relative;
}
.tz_layout .touzi_header {
  width: 100%;
  height: 60px;
  background: #f9f9f9;
  border-bottom: 1px solid #d7d7d7;
  position: fixed;
  top: 0;
  left: 0;
}
.icon_back {
  width: 100px;
  height: 60px;
  line-height: 60px;
  display: block;
  position: relative;
}
.icon_back img {
  position: absolute;
  top: 17px;
  left: 24px;
}
.icon_back .touzi_back {
  color: #3a3a3a;
  padding-left: 42px;
  font-size: 18px;
}